* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  color: white;
  background-color: rgb(30, 39, 57);
}
body,
#nav-logo,
#search-icon,
#login-icon,
main {
  height: 100%;
}

body,
#nav-logo,
#search-icon,
#login-icon,
#header,
main #container-header > nav > ul {
  width: 100%;
}

figure {
  height: 70px;
}

#header,
#container-header,
#container-header > nav > ul,
.page,
main,
.container-content,
.container-programs,
.program,
.program-body,
.container-contact,
.form-contact,
form,
.container-input,
footer,
.footer-logo,
.footer-nav,
.container-footer {
  display: flex;
}

#container-header,
#container-icon,
#container-header > nav > ul,
.program,
.container-contact,
footer,
.container-footer {
  flex-direction: row;
}

main,
.page,
.container-content,
.container-programs,
.program-body,
.form-contact,
form,
.container-input,
.footer-logo,
.footer-nav {
  flex-direction: column;
}

#header,
#container-header,
.page {
  align-items: center;
}
#header,
.page:nth-child(1) {
  justify-content: center;
}

#header {
  background-color: rgb(30, 39, 57);
  color: white;
  position: fixed;
  transition: top 0.3s;
  z-index: 100;
}

.pointer:hover {
  color: #66c336;
}
#container-header {
  justify-content: space-between;
  height: 15vh;
  width: 90%;
}

#container-icon {
  height: 23px;
  display: flex;
  gap: 18px;
}

#container-header > nav > ul {
  gap: 20px;
  list-style: none;
  font-weight: bold;
  font-size: 16px;
}

#container-header > nav > ul > li:nth-child(1) {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  color: #66c336;
}

.pointer {
  cursor: pointer;
}

.page {
  min-height: 100vh;
}

.page:nth-child(1) {
  min-height: 100vh;
  background: linear-gradient(rgb(30, 39, 57, 0.8), rgb(30, 39, 57, 0.8)),
    url("https://i.ibb.co/KhSsmMH/BG-Home.png");
  background-size: cover;
  text-align: center;
  gap: 20px;
  padding-top: 50px;
}

.page:nth-child(1) > :nth-child(1) {
  font-size: 50px;
  padding: 0 10%;
}

.page:nth-child(1) > :nth-child(2) {
  font-size: 20px;
  padding: 0 20%;
}

.container-programs {
  gap: 150px;
}

.program-title {
  font-size: 30px;
}
.program-sub {
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}
.container-content {
  width: 80%;
  gap: 40px;
  padding: 50px 0;
  font-size: 40px;
}
.program {
  justify-content: space-between;
  margin: 2px;
}

.program-image {
  height: 400px;
}

.program-image > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.program-image > img:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #66c336);
  filter: drop-shadow(5px 5px 5px #66c336);
}

.program-body {
  height: 100%;
  width: 50%;
  gap: 40px;
}

.btn {
  color: white;
  font-size: 18px;
  font-weight: 800;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  background-color: Transparent;
  border: 2px solid white;
}
.btn:hover {
  color: rgb(30, 39, 57);
  background-color: white;
}
.reverse {
  flex-direction: row-reverse;
}

.title {
  font-size: 50px;
}

.sub-title {
  font-size: 20px;
}

.container-contact {
  justify-content: space-between;
  gap: 20px;
}

.form-contact {
  width: 45%;
}

form {
  width: 100%;
  gap: 20px;
}

.container-input {
  font-size: 20px;
  gap: 10px;
}
input {
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  text-transform: capitalize;
  outline: none;
}

::placeholder {
  color: white;
  font-size: 18px;
}

footer {
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 34, 49);
}

.container-footer {
  width: 80%;

  justify-content: space-evenly;
}

.footer-logo {
  gap: 20px;
}
.container-logo {
  width: 100px;
}

.footer-nav > h1:nth-child(1) {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  color: #66c336;
}

.container-logo > a > img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(2px 4px 15px #ffffff);
}
